In [29]:
import pandas as pd
import numpy as np
from datetime import *

In [16]:
help_113_df = pd.read_csv('Hjelp 113.csv')
nodnummer_df = pd.read_csv('Nødnummer.csv')

In [19]:
help_113_df.shape

(147, 6)

In [20]:
nodnummer_df.shape

(6, 6)

In [21]:
nodnummer_df

,Review Id,User Name,Review,Rating,Date of Review,reviewCreatedVersion
0,e7f7b638-24d7-4081-806c-ed7fbb308fec,A Google user,Add @enger109 on snap,5,2019-08-31 18:03:28,1.2.2
1,NaN,Fjorn2,Klp was not involved either. Location of where...,4,2013-09-05,NaN
2,NaN,Thomasenger,Please. Optimize this app for something more t...,2,2019-01-28,NaN
3,NaN,HælleMåne,Doesn't work,1,2015-04-28,NaN
4,NaN,Norwegian in Wiesn,"The idea behind this app is superb, and a must...",4,2013-09-05,NaN
5,NaN,Tulltur,The only thing missing was that the name of co...,4,2013-09-04,NaN

In [23]:
help_113_df.isnull().sum()

Review Id               114
User Name                 0
Review                    0
Rating                    0
Date of Review            0
reviewCreatedVersion    117
dtype: int64

In [24]:
help_113_df.head()

,Review Id,User Name,Review,Rating,Date of Review,reviewCreatedVersion
0,7f567877-a1ae-4fe7-80e3-c5d82c0c39eb,N1NJASOAP,hope I don't get to use this app,4,2023-02-12 01:04:20,6.0.9
1,f61cb407-0ef5-4582-8d5b-541946830fee,Michael Forbes,I can't register it properly. When I have to a...,2,2022-09-26 16:56:41,6.0.7
2,d2475d1c-a0f9-4f9c-a5cc-768a16dc9046,Morale Kadiri,Am yet to use it,4,2022-04-16 16:19:29,5.0.12
3,7612ebee-0c46-4cdd-bdca-d0dcd4575b4d,Ole Anders Røsand,App tried without success. Not sure what happe...,1,2021-06-13 21:56:28,5.0.12
4,b341cd01-5659-4a5a-95f6-9602be711080,A Google user,Fine with dark mode but where do you switch ba...,5,2021-03-24 12:42:02,5.0.12

In [25]:
hjelp_versions = ['6.1.0','6.0.6','6.0.5','6.0.2','6.0.1','6.0.0','5.1.0','5.0.7','5.0.6','5.0.5','5.0.4','5.0.3','5.0.2','5.0.0','4.5.8','4.5.7','4.5.6','4.4.7','4.4.6','4.4.5','4.4.4','4.3.0','4.2.0','4.1.0','4.0.0']

In [26]:
hjelp_version_dates = ['14-02-2023','30-08-2022','19-08-2022','16-08-2022','04-08-2022','16-06-2022','03-01-2022','28-05-2021','16-04-2021','24-03-2021','23-03-2021','22-03-2021','19-03-2021','17-03-2021','01-10-2020','24-09-2020','23-09-2020','23-10-2019','16-10-2019','11-10-2019','10-10-2019','30-05-2019','24-05-2019','12-02-2019','19-12-2018']

In [27]:
hjelp_release_dates_df = pd.DataFrame()
hjelp_release_dates_df['versions'] = hjelp_versions
hjelp_release_dates_df['release_dates'] = hjelp_version_dates

In [34]:
l = ['27-02-2023']
for i in range(hjelp_release_dates_df.shape[0]-1):
    l.append(hjelp_release_dates_df['release_dates'].iloc[i])
hjelp_release_dates_df['end_dates'] = l
for i in list(np.where(help_113_df['reviewCreatedVersion'].isnull())[0]):
        for j in range(hjelp_release_dates_df.shape[0]):
                d1, m1, y1 = [int(x) for x in hjelp_release_dates_df['release_dates'].iloc[j].split('-')]
                b1 = date(y1, m1, d1)
                d2, m2, y2 = [int(x) for x in hjelp_release_dates_df['end_dates'].iloc[j].split('-')]
                b2 = date(y2, m2, d2)
                y, m, d = [int(x) for x in help_113_df['Date of Review'].iloc[i].split(' ')[0].split('-')]
                b = date(y, m, d) 
                if b>=b1 and b<b2:
                    help_113_df['reviewCreatedVersion'].iloc[i] = hjelp_release_dates_df['versions'].iloc[j]
                else:
                    help_113_df['reviewCreatedVersion'].iloc[i] = '<'+hjelp_release_dates_df['versions'].iloc[j]

C:\Users\Fuzel Shaik\AppData\Local\Temp\ipykernel_34680\870679839.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  help_113_df['reviewCreatedVersion'].iloc[i] = '<'+hjelp_release_dates_df['versions'].iloc[j]

In [35]:
help_113_df.isnull().sum()

Review Id               114
User Name                 0
Review                    0
Rating                    0
Date of Review            0
reviewCreatedVersion      0
dtype: int64

In [37]:
help_113_df.to_csv('hjlep_113_updated.csv',index=False)